<footer class="bg-green-100">
    <div class="mx-auto max-w-5xl px-2 py-5 sm:px-6 lg:px-8">
      <div class="flex justify-center text-teal-600">
        <img src="assets/images/logo.png" alt="logo" style="width: 100px; height: 100px;" >

      </div>
  
      <p class="mx-auto mt-6 max-w-md text-center leading-relaxed text-gray-500">
          Happy Shopping!!🌼 <br>
          <label for="">@Copyright reserved!</label>
      </p>
  
      <ul class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:gap-12">
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> Home </a>
        </li>
  
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> Products </a>
        </li>
  
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> Contact Us </a>
        </li>

        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> Logout </a>
        </li>
  
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> Blog </a>
        </li>
      </ul>
  
      
    </div>
  </footer>