<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">Order History</h2>
    <div class="overflow-x-auto">
      <table class="table-auto border-collapse w-full">
        <thead>
          <tr class="bg-gray-200">
            <th class="px-4 py-2">Order ID</th>
            <th class="px-4 py-2">Order Date</th>
            <th class="px-4 py-2">Order Status</th>
            <th class="px-4 py-2">Total Amount</th>
            <th class="px-4 py-2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr  class="hover:bg-gray-100">
            <!-- <td class="border px-4 py-2">{{ order.order_id }}</td>
            <td class="border px-4 py-2">{{ order.order_date | date }}</td>
            <td class="border px-4 py-2">{{ order.order_status }}</td>
            <td class="border px-4 py-2">{{ order.total_amount }}</td>
            <td class="border px-4 py-2">
              <button class="text-blue-600 hover:text-blue-800" >View Details</button> -->
            <!-- </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- (click)="viewOrderDetails(order)" -->
  <!-- *ngFor="let order of orders" -->